.crayon-syntax {
    font-family: Monaco, 'MonacoRegular', 'Courier New', monospace !important;
    padding: 1em;
    border-radius: 6px;
    font-size: 14px !important;
    overflow: auto;
    box-shadow: none;
    border: 4px solid #ecf0f1 !important;
    background-color: white !important;
    margin: 1em 0 2em;
}

.crayon-nums {
    visibility: hidden;
    background: #dfefff !important;
    color: #5499de !important;
}

.crayon-syntax .crayon-table td, .crayon-syntax .crayon-table tr {
    padding: 0!important;
    border: none!important;
    background: 0;
    vertical-align: top!important;
    margin: 0!important;
}

.crayon-syntax .crayon-table td, .crayon-syntax .crayon-table tr {
    padding: 0!important;
    border: none!important;
    background: 0;
    vertical-align: top!important;
    margin: 0!important;
}

.crayon-syntax .crayon-line {
    padding: 0 5px;
}

.crayon-syntax p, .crayon-syntax div {
    font-family: Monaco, 'MonacoRegular', 'Courier New', monospace !important;
    background: 0;
    border: 0;
    padding: 0;
    margin: 0;
    text-align: left;
}